.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;  
  gap: 15px;    
  padding: 10px 20px;
}

.bar h4 {
  border: 1px solid #FF7A01;
  border-radius: 60px;
  font-weight: 500;
  color: #FF7A01;
  transition: all ease 0.4s;
  position: relative;
  font-size: 14px;  
  overflow: hidden;
  

}

.bar h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FF7A01;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
  
}

.bar h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.bar h4 button {
  color: rgb(19, 18, 18); 
  background: none;
  border: none;
  text-decoration: none;
  position: relative;
  z-index: 9;
  font-size: 17px; 
  padding-inline: 10px 70px;  
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 10px;
  margin-left: 48px;
  
}

.bar h4 button:hover {
  color: white;
}