body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.navbar,
.footer {
  background-color: #4b0082; 
  color: white;
}

.nav-link,
.nav-link:hover {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #dda0dd;
}

.button {
  background-color: #4b0082;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  background-color: #dda0dd;
}
